# **00_SetUp**

In [ ]:
!pip install geopandas
!pip install osmnx

In [ ]:
import requests
import json
import time
import pandas as pd
import geopandas as gpd
import osmnx as ox
import numpy as np
import os

In [ ]:
root = '/content/gdrive/MyDrive/IaaC_MaCAD/Module 3/3S_Studio/A.Eye_Guiding App for Tourists/01_Data/JSON/GeoJsons'

# **01_URLs & Tags**

In [ ]:
#Placename
vienna='Vienna, 1010, Austria '

In [ ]:
#tags
wine_dine_tag={'amenity':['bar','pub', 'cafe', 'restaurant', 'fast_food','biergarten', 'food_court', 'ice_cream', 'arts_cemter', 'nightclub', 'brothel', 'casino', 'cinema', 'gambling', 'stripclub', 'swingerclub', 'theatre']}
leisure_tag= {'leisure':True}
shopping_tag={'shop': ['clothes','bags','jewelery', 'fashion_accessories', 'fabric', 'leather', 'shoes', 'watches', 'beauty', 'cosmetics', 'hairdresser', 'perfumery', 'tattoo', 'florist','chocolate', 'garden_centre', 'houseware', 'antiques', 'electronics', 'mobile_phones', 'candles', 'carpet' 'mall, boutique']} #for POI analysis
shop_tag={'shop':True} #for analysis
religion_tag={'amenity':'place_of_worship', 'religion':True}
tourism_tag={'tourism':True}

# **02_Analysis**

In [ ]:
wine_dine=ox.geometries.geometries_from_place(vienna, tags=wine_dine_tag)
leisure = ox.geometries.geometries_from_place(vienna, tags=leisure_tag)
shop = ox.geometries.geometries_from_place(vienna, tags=shop_tag)
tourism_ox=ox.geometries.geometries_from_place(vienna, tags=tourism_tag)

# religion_ox=ox.geometries.geometries_from_place(vienna, tags=religion_tag)

## Check POIs

In [ ]:
wine_dine['type']='wine_dine'
print(wine_dine.shape)
wine_dine.head(2)

(6143, 379)

                      addr:city addr:country addr:housenumber addr:postcode  \
element_type osmid
node         29801740      Wien           AT              130          1020
             46823888      Wien           AT               38          1150

                       addr:street     amenity       brand brand:wikidata  \
element_type osmid
node         29801740   Handelskai   fast_food  McDonald's         Q38076
             46823888  Selzergasse  restaurant         NaN            NaN

                      brand:wikipedia   cuisine  ... name:kr name:he rental  \
element_type osmid                               ...
node         29801740   en:McDonald's    burger  ...     NaN     NaN    NaN
             46823888             NaN  regional  ...     NaN     NaN    NaN

                      shelter_type disused:brand disused:opening_hours  \
element_type osmid
node         29801740          NaN           NaN                   NaN
             46823888          NaN           NaN                   NaN

                      disused:operator source:geometry ways       type
element_type osmid
node         29801740              NaN             NaN  NaN  wine_dine
             46823888              NaN             NaN  NaN  wine_dine

[2 rows x 379 columns]

In [ ]:
leisure['type'] = 'leisure'
print(leisure.shape)
leisure.head(2)

(11818, 316)

                       source                   geometry barrier bicycle foot  \
element_type osmid
node         83453802     NaN  POINT (16.40419 48.27470)     NaN     NaN  NaN
             254640433    NaN  POINT (16.31869 48.19869)     NaN     NaN  NaN

                       highway addr:city addr:country addr:housenumber  \
element_type osmid
node         83453802      NaN       NaN          NaN              NaN
             254640433     NaN      Wien           AT               65

                       addr:postcode  ... name:he name:ka name:lt     type  \
element_type osmid                    ...
node         83453802            NaN  ...     NaN     NaN     NaN  leisure
             254640433          1150  ...     NaN     NaN     NaN  leisure

                       name_1 esperanto meadow note:opening_hours  \
element_type osmid
node         83453802     NaN       NaN    NaN                NaN
             254640433    NaN       NaN    NaN                NaN

                       note:opening_hours:1 note:opening_hours:2
element_type osmid
node         83453802                   NaN                  NaN
             254640433                  NaN                  NaN

[2 rows x 316 columns]

In [ ]:
shop['type']='shop'
print(shop.shape)
shop.head(2)

(10593, 475)

                      addr:city addr:country addr:housenumber addr:postcode  \
element_type osmid
node         15079903      Wien           AT              180          1140
             15080180      Wien           AT             130B          1140

                               addr:street  atm       brand brand:wikidata  \
element_type osmid
node         15079903  Hütteldorfer Straße  yes    Eurospar      Q12309283
             15080180  Hütteldorfer Straße  NaN  Billa Plus            NaN

                      brand:wikipedia        name  ... shop:car_repair  \
element_type osmid                                 ...
node         15079903     da:Eurospar    Eurospar  ...             NaN
             15080180        de:Billa  Billa Plus  ...             NaN

                      source:geometry area changing_table:count  \
element_type osmid
node         15079903             NaN  NaN                  NaN
             15080180             NaN  NaN                  NaN

                      disused:opening_hours disused:brand:wikidata  \
element_type osmid
node         15079903                   NaN                    NaN
             15080180                   NaN                    NaN

                      disused:brand:wikipedia recycling:batteries ways  \
element_type osmid
node         15079903                     NaN                 NaN  NaN
             15080180                     NaN                 NaN  NaN

                      loc_name
element_type osmid
node         15079903      NaN
             15080180      NaN

[2 rows x 475 columns]

In [ ]:
tourism_ox['type']='tourism'
print(tourism_ox.shape)
tourism_ox.head(2)

(3052, 370)

                      barrier foot                   geometry highway  \
element_type osmid
node         60438337     NaN  NaN  POINT (16.36826 48.20464)     NaN
             60571580     NaN  NaN  POINT (16.33669 48.27439)     NaN

                      addr:city addr:country addr:housenumber addr:postcode  \
element_type osmid
node         60438337      Wien           AT                1          1010
             60571580       NaN          NaN              NaN           NaN

                          addr:street      amenity  ... government  \
element_type osmid                                  ...
node         60438337  Albertinaplatz  arts_centre  ...        NaN
             60571580             NaN          NaN  ...        NaN

                      building:start_date name:restaurant castle_type:fr  \
element_type osmid
node         60438337                 NaN             NaN            NaN
             60571580                 NaN             NaN            NaN

                      castle_type:it is_in:theme_park old_name:en  \
element_type osmid
node         60438337            NaN              NaN         NaN
             60571580            NaN              NaN         NaN

                      breakfast:buffet language:de language:en
element_type osmid
node         60438337              NaN         NaN         NaN
             60571580              NaN         NaN         NaN

[2 rows x 370 columns]

In [ ]:
# religion_ox['type'] = 'religion'
# print(religion_ox.shape)
# religion_ox.head(2)

## Merge

In [ ]:
merged_list=pd.concat([wine_dine, leisure, shop, tourism_ox])

In [ ]:
reduced = merged_list.drop_duplicates(subset=['name'], keep='first')

In [ ]:
print(merged_list.shape)
print(reduced.shape)

(31606, 901)
(15156, 901)

In [ ]:
reduced.head(5)

                      addr:city addr:country addr:housenumber addr:postcode  \
element_type osmid
node         29801740      Wien           AT              130          1020
             46823888      Wien           AT               38          1150
             46823910      Wien           AT               13          1150
             46823914      Wien           AT               11          1150
             46823918       NaN          NaN              NaN           NaN

                        addr:street     amenity       brand brand:wikidata  \
element_type osmid
node         29801740    Handelskai   fast_food  McDonald's         Q38076
             46823888   Selzergasse  restaurant         NaN            NaN
             46823910  Meiselstraße  restaurant         NaN            NaN
             46823914  Meiselstraße        cafe         NaN            NaN
             46823918           NaN   fast_food         NaN            NaN

                      brand:wikipedia   cuisine  ... townhall:type  \
element_type osmid                               ...
node         29801740   en:McDonald's    burger  ...           NaN
             46823888             NaN  regional  ...           NaN
             46823910             NaN     pizza  ...           NaN
             46823914             NaN       NaN  ...           NaN
             46823918             NaN     asian  ...           NaN

                      building:start_date name:restaurant castle_type:fr  \
element_type osmid
node         29801740                 NaN             NaN            NaN
             46823888                 NaN             NaN            NaN
             46823910                 NaN             NaN            NaN
             46823914                 NaN             NaN            NaN
             46823918                 NaN             NaN            NaN

                      castle_type:it is_in:theme_park old_name:en  \
element_type osmid
node         29801740            NaN              NaN         NaN
             46823888            NaN              NaN         NaN
             46823910            NaN              NaN         NaN
             46823914            NaN              NaN         NaN
             46823918            NaN              NaN         NaN

                      breakfast:buffet language:de language:en
element_type osmid
node         29801740              NaN         NaN         NaN
             46823888              NaN         NaN         NaN
             46823910              NaN         NaN         NaN
             46823914              NaN         NaN         NaN
             46823918              NaN         NaN         NaN

[5 rows x 901 columns]

In [ ]:
reduced.columns.values

array(['addr:city', 'addr:country', 'addr:housenumber', 'addr:postcode',
       'addr:street', 'amenity', 'brand', 'brand:wikidata',
       'brand:wikipedia', 'cuisine', 'name', 'opening_hours', 'takeaway',
       'toilets:wheelchair', 'wheelchair', 'geometry', 'contact:website',
       'indoor_seating', 'outdoor_seating', 'phone', 'website',
       'diet:vegetarian', 'smoking', 'cinema:3D', 'level', 'payment:cash',
       'payment:credit_cards', 'payment:maestro', 'screen', 'wikidata',
       'wikipedia', 'name:en', 'operator', 'wheelchair:description',
       'alt_name', 'note', 'short_name', 'closed', 'delivery', 'shop',
       'source', 'fax', 'fixme', 'changing_table', 'email',
       'internet_access', 'microbrewery', 'name:ru', 'name:zh', 'brewery',
       'contact:email', 'contact:phone', 'internet_access:fee',
       'description', 'created_by', 'name:de', 'contact:facebook',
       'description:covid19', 'opening_hours:covid19', 'sport',
       'addr:unit', 'description:en', 'museum', 'condition',
       'internet_access:ssid', 'payment:american_express',
       'payment:diners_club', 'payment:mastercard', 'payment:visa',
       'addr:housename', 'diet:vegan', 'menu_languages', 'drive_through',
       'man_made', 'surveillance', 'source:imagery', 'start_date',
       'service_times', 'check_date:opening_hours', 'payment:debit_cards',
       'theatre:genre', 'wheelchair:website', 'payment:electronic_purses',
       'website:menu', 'cuisine:de', 'designation', 'food', 'music',
       'music_genre', 'name:be', 'contact:mobile', 'air_conditioning',
       'drink:beer', 'drink:coffee', 'drink:tea', 'drink:whisky',
       'drink:wine', 'opening_hours:kitchen', 'wine:region', 'wine:type',
       'diet:gluten_free', 'smoking:outside', 'capacity',
       'opening_hours:signed', 'addr:hamlet', 'is_in:attraction',
       'name:cs', 'owner', 'layer', 'snack', 'old_name', 'distillery',
       'drink:water', 'happy_hours', 'contact:fax', 'opening_hours:url',
       'name:fa', 'bar', 'name:ja', 'tourism', 'official_name', 'toilets',
       'WLAN', 'ref:vatin', 'operator:type', 'reservation', 'tunnel',
       'dispensing', 'kitchen_hours', 'diet:kosher', 'drive_in',
       'name:etymology', 'name:etymology:wikidata', 'betting', 'gay',
       'lgbtq', 'Notiz', 'check_date', 'image', 'wifi', 'wlan:operator',
       'club', 'source:amenity', 'internet_access:provider', 'biergarten',
       'coffee', 'at_bev:addr_date', 'changing_table:count',
       'changing_table:location', 'seating', 'payment:coins',
       'payment:notes', 'source:opening_hours', 'heritage',
       'heritage:operator', 'ref:at:bda', 'community_centre:for',
       'int_name', 'disused:amenity', 'description:de', 'oven', 'note:en',
       'wikimedia_commons', 'fetish', 'drink:club-mate', 'url',
       'entrance', 'kids_area', 'kids_area:indoor', 'contact:twitter',
       'payment:girocard', 'diet:meat', 'proposed:amenity',
       'addr2:housenumber', 'addr2:street', 'UID', 'contact:phone_1',
       'name:ro', 'payment:contactless', 'access', 'addr:suburb',
       'award:Gault-Millau', 'award:michelin', 'organic',
       'payment:bitcoin', 'regional', 'building', 'diet:halal',
       'addr:subdistrict', 'phone_1', 'check_date:diet:vegetarian',
       'source:position', 'contact:instagram', 'payment:cryptocurrencies',
       'wheelchair:description:de', 'brothel:escort_services', 'topic',
       'min_age', 'addr:door', 'drink:beer:Budweiser',
       'drink:beer:Corona', 'drink:beer:Desperados',
       'drink:beer:Guinness', 'drink:beer:Heineken',
       'drink:beer:Null_Komma_Josef', 'drink:beer:Ottakringer',
       'drink:beer:Rotes_Zwickl', 'drink:beer:Schneider_Weisse',
       'drink:beer:Strongbow', 'drink:beer:Wieselburger',
       'drink:soft_drink', 'drinking_water', 'restaurant', 'alt_name_1',
       'name:ko', 'drink', 'payment:others', 'winery', 'source:cuisine',
       'lgbtq:men', 'architect', 'architect:wikidata',
       'year_of_construction', 'fetish:leather', 'branch', 'barrier',
       'breakfast', 'amenity_1', 'real_ale', 'theme', 'addr1:housenumber',
       'addr1:street', 'survey:date', 'phone:mobile', 'abandoned:amenity',
       'addr:floor', 'sustenance', 'name:signed', 'product', 'mobile',
       'pet', 'toilets:access', 'drinking_water:legal', 'brothel:club',
       'drink:juice', 'addr:place', 'smoking_hours', 'al_fresco',
       'gluten_free', 'pizza', 'fair_trade', 'noname', 'bistro',
       'addr:full', 'seats', 'seasonal', 'brothel:gangbang',
       'brothel:swinger', 'old_phone', 'old_website', 'stars', 'name:ar',
       'gambling', 'bulk_purchase', 'height', 'brothel:stripclub',
       'source:phone', 'lunch:warm', 'note:cuisine', 'commons', 'atm',
       'ele', 'fetish:bdsm', 'diet:egg_free', 'diet:lactose_free',
       'diet:nut_free', 'drink:gin', 'full_name',
       'internet_access:wlan:bssid', 'wlan', 'brewery:Pils',
       'brewery:Zwickl', 'brand:website', 'highchair', 'diet:dairy_free',
       'addr:district', 'addr:state', 'abandoned', 'disused:name',
       'real_fire', 'indoor', 'leisure', 'diet:organic',
       'contact:tripadvisor', 'diet:pescetarian', 'diet:raw', 'cuisine_1',
       'darts', 'burger', 'addr:city:en', 'audience', 'covered', 'fuel',
       'name:hr', 'brothel:saunaclub', 'old_facebook', 'old_operator',
       'dance:style', 'brothel', 'wheelchair:description:en',
       'drink:brewery', 'alt_name_2', 'name:el', 'payment:ep_geldkarte',
       'brothel:eros_center', 'darts:type', 'disused', 'payment:nfc',
       'facebook', 'contact:yelp', 'disused:phone', 'diet:macrobiotic',
       'payment:bancomat', 'changing_table:fee', 'payment:cards', 'craft',
       'reg_name', 'self_service', 'theatre:type', 'ice_cream',
       'fast_food', 'diet:mediterranean', 'historic',
       'reusable_packaging:offer', 'baby_feeding', 'fee', 'cocktails',
       'kitchen', 'addr:interpolation', 'diet:healthy', 'diet:meat-free',
       'nodes', 'name:es', 'name:uk', 'attraction',
       'building:architecture', 'wikipedia:en', 'roof:shape',
       'building:material', 'building:colour', 'building:levels',
       'building:height', 'roof:levels', 'payment:meal_voucher',
       'smokefree', 'loc_name', 'location', 'landuse', 'payment:jcb',
       'payment:unionpay', 'nohousenumber', 'area', 'origin', 'noaddress',
       'room', 'building:part', 'operator:wikidata', 'operator:wikipedia',
       'name:at', 'name:kr', 'name:he', 'rental', 'shelter_type',
       'disused:brand', 'disused:opening_hours', 'disused:operator',
       'source:geometry', 'ways', 'type', 'bicycle', 'foot', 'highway',
       'material', 'ref', 'sauna', 'postal_code', 'recycling:newspaper',
       'recycling:paper', 'recycling_type', 'width', 'parking',
       'playground', 'backrest', 'dance:teaching', 'entertainment',
       'seamark:harbour:category', 'seamark:name', 'seamark:type',
       'vehicle', 'horse', 'motor_vehicle', 'dog', 'healthcare',
       'category', 'harbour', 'climbing:bolted', 'climbing:boulder',
       'climbing:grade:uiaa:max', 'climbing:grade:uiaa:min',
       'climbing:length:max', 'climbing:multipitch', 'climbing:sport',
       'climbing:toprope', 'ft_symbol', 'education',
       'seamark:buoy_special_purpose:colour', 'name:wikipedia', 'surface',
       'hackerspace', 'male', 'name:pl', 'denotation', 'leaf_type',
       'natural', 'subject:wikidata', 'colour', 'subject:wikipedia',
       'bench', 'name:zh-Hans', 'name:zh-Hant', 'lit', 'max_age',
       'fitness_station', 'gay:men', 'playground:sandpit',
       'playground:seesaw', 'playground:slide', 'playground:swing',
       'baby', 'playground:playhouse', 'playground:structure', 'charge',
       'contact:flickr', 'contact:linkedin', 'contact:youtube',
       'playground:basketswing', 'playground:zipwire', 'shooting',
       'garden:type', 'waste', 'hoops', 'addr:flats', 'heating',
       'comment', 'name:start_date', 'name:etymology:wikipedia', 'water',
       'water_slide', 'source:name:etymology', 'water_park', 'surface_1',
       'landcover', 'fence_type', 'boat', 'old_name:etymology',
       'old_name:etymology:wikidata', 'inline_skates', 'capacity:cabins',
       'caravans', 'bath:open_air', 'fee:conditional', 'fenced',
       'miniature_golf:course', 'boundary', 'nudism', 'protect_class',
       'protection_title', 'short_protection_title', 'length',
       'swimming_pool', 'odbl', 'ref:wien', 'dogs', 'addr2:city',
       'addr2:country', 'addr2:postcode', 'bath:type', 'supervised',
       'source:name', 'playground:theme', 'place', 'todo', 'residential',
       'lanes', 'school', 'oneway', 'climbing:length', 'al:landuse',
       'roof:colour', 'sport_1', 'service', 'commemorates',
       'garden:style', 'source:start_date', 'soccer', 'playground:de',
       'name:etymology:description', 'proposed', 'golf',
       'high_ropes_course:type', 'contact:calendar', 'contact:mastodon',
       'garden', 'construction', 'private', 'sport_2', 'piste:type',
       'landuse_1', 'bath:sand_bath', 'weather_protection', 'pub',
       'outdoor_seating:comfort', 'cafe', 'animal', 'blind', 'climbing',
       'building:min_level', 'playground:balancebeam',
       'playground:springy', 'playground:climbingframe',
       'playground:roundabout', 'baseball', 'name:ka', 'name:lt',
       'name_1', 'esperanto', 'meadow', 'note:opening_hours',
       'note:opening_hours:1', 'note:opening_hours:2', 'fuel:GTL_diesel',
       'fuel:diesel', 'fuel:octane_95', 'car_wash', 'second_hand',
       'tobacco', 'disused:shop', 'beauty', 'description:pl',
       'payment:paypal', 'service:bicycle:repair', 'clothes',
       'service:bicycle:second_hand', 'butcher', 'car_service',
       'disused:craft', 'tailor', 'laundry',
       'service:vehicle:air_conditioning', 'service:vehicle:body_repair',
       'service:vehicle:brakes', 'service:vehicle:car_repair',
       'service:vehicle:diagnostics', 'service:vehicle:inspection',
       'service:vehicle:oil_change', 'service:vehicle:tyres',
       'service:vehicle:used_car_sales', 'photo',
       'model_railway:gauge:h0', 'toys:model_railway',
       'service:bicycle:pump', 'lottery', 'noexit', 'books',
       'payment:telephone_cards',
       'service:bicycle:Bicycle_Sales_and_Service',
       'service:bicycle:bicycle', 'service:bicycle:bike',
       'service:bicycle:chain_tool', 'service:bicycle:cleaning',
       'service:bicycle:clothing', 'service:bicycle:dealer',
       'service:bicycle:diy', 'service:bicycle:ebike',
       'service:bicycle:parts', 'service:bicycle:retail',
       'service:bicycle:sales', 'service:bicycle:service',
       'service:bicycle:tools', 'name:fr', 'stamps',
       'check_date:service:bicycle:retail', 'payment:visa_debit',
       'payment:visa_electron', 'drink:afri-cola', 'drink:bulmers',
       'drink:fritz-kola', 'drink:kopparberg', 'drink:premium-cola',
       'office', 'artwork_type', 'supermarket', 'community_centre',
       'identity', 'interaction', 'provides', 'amenity:cafe',
       'cuisine:-2017', 'name:-2017', 'shop:-2017', 'shop:pastry',
       'service:bicycle:rental', 'vending', 'vending_machine',
       'mapillary', 'addr:year', 'brand:zh', 'laundry_service', 'shop_1',
       'shop_2', 'tailor:alteration_service', 'computer:repair',
       'mobile_phone:repair', 'shop:name', 'fuel:octane_91',
       'fuel:octane_98', 'shoe_repair', 'rent:lpg_bottles',
       'scuba_diving:repair', 'pastry_shop', 'second_day', 'bakehouse',
       'convenience', 'payment:mastercard_debit', 'payment:v_pay',
       'payment:bankomat', 'payment:credit_card', 'printer:ink',
       'printer:repair', 'printer:sales', 'unisex', 'deli',
       'denomination', 'religion', 'payment:bank_transfer', 'alt_shop',
       'trade', 'compressed_air', 'service:vehicle:new_car_sales',
       'pastry', 'wholesale', 'service:bicycle:chaintool', 'female',
       'automated', 'children', 'wheelchair:step_height',
       'disused:website', 'model_railway:gauge:0',
       'model_railway:gauge:h0e', 'model_railway:gauge:n',
       'model_railway:gauge:tt', 'toys', 'fire_hydrant:position',
       'fire_hydrant:type', 'repair', 'massage',
       'service:vehicle:batteries', 'service:vehicle:glass', 'shoes',
       'post_office', 'post_office:type', 'motorcycle:parts',
       'motorcycle:repair', 'alcohol', 'drink:alcohol', 'drink:soft',
       'name:hu', 'payment:bankaxess', 'payment:dogecoin',
       'payment:ep_avant', 'payment:laser', 'payment:litecoin',
       'source:date', 'contact:website_1', 'addr:street_1',
       'currency:EUR', 'info', 'name_2', 'service:bicycle:retro_bikes',
       'phone:AT', 'motorcycle:clothes', 'charity', 'name_old',
       'technology', 'information', 'contact:country', 'zero_waste',
       'last_checked', 'source:link', 'healthcare:speciality', 'spices',
       'payment:apple_pay', 'payment:bank_card', 'social_facility',
       'musical_instrument', 'musical_instrument:repair',
       'musical_instrument:type', 'stroller', 'service:vehicle:breakdown',
       'payment:none', 'ref:storeId', 'vegan', 'payment:ethereum',
       'payment:google_pay', 'musical_instrument:rental',
       'musical_instrument:sales', 'newspapers', 'model_railway:gauge:1',
       'model_railway:gauge:g', 'model_railway:gauge:z',
       'scuba_diving:Suunto_Service', 'scuba_diving:air_filling',
       'scuba_diving:courses', 'scuba_diving:filling',
       'scuba_diving:nitrox_filling', 'scuba_diving:oxygen_filling',
       'scuba_diving:rental', 'scuba_diving:trimix_filling',
       'currency:others', 'payment:invoice', 'payment:discover_card',
       'payment:card', 'payment:bitcoincash', 'service:bicycle:charging',
       'service:vehicle:car_parts', 'addr:county', 'robot:type',
       'post_office:brand', 'post_office:brand:wikidata', 'indoor:level',
       'level:ref', 'payment', 'newspaper', 'site_name', 'collector',
       'addr:flat', 'ink_refill', 'electronics_repair',
       'cash_withdrawal:operator', 'tickets:public_transport', 'webshop',
       'roof:height', 'roof:material', 'bridge', 'min_height',
       'rent:lpg_bottles:brand', 'fuel:adblue:canister', 'fuel:cng',
       'opening_date', 'car:repair', 'car:sales', 'motorcycle:rental',
       'motorcycle:sales', 'payment:account_cards', 'government',
       'opening_hours:shop', 'service:vehicle:painting', 'shop:de',
       'service:vehicle:motor', 'service:vehicle:repairs',
       'shop:car_repair', 'disused:brand:wikidata',
       'disused:brand:wikipedia', 'recycling:batteries', 'name:bg',
       'blind:description:de', 'rooms', 'artist:wikidata', 'artist_name',
       'memorial', 'ref:wien:kultur', 'inscription', 'board_type',
       'monument', 'species', 'map_size', 'map_type', 'myth', 'name:myth',
       'url:myth', 'hiking', 'zoo', 'barbecue_grill', 'fireplace',
       'source:description:en', 'tourism_2', 'guest_house',
       'source:description', 'direction', 'studio',
       'opening_hours:reception', 'support', 'scenic',
       'blind:description:en', 'scale', 'name:fi', 'artist:wikipedia',
       'display', 'name:la', 'is_in:zoo', 'destination',
       'artwork_subject', 'beds', 'tower:type', 'memorial:conflict',
       'photography:inside', 'weight', 'window', 'inscription:url',
       'balcony', 'name:sh', 'name:sk', 'name:sr', 'elevator', 'shelter',
       'embossed_letters', 'board:title', 'intermittent', 'substance',
       'map:title', 'ruins', 'backcountry', 'power_supply',
       'direction_north', 'direction_south', 'direction_southeast',
       'material:de', 'memorial:text', 'memorial:type',
       'person:date_of_birth', 'person:date_of_death', 'locked',
       'maxspeed', 'oneway:bicycle', 'sidewalk', 'castle_type',
       'castle_type:de', 'alt_name:cs', 'url:0', 'name:it', 'ref:whc',
       'whc:criteria', 'whc:inscription_date', 'building:architecture:de',
       'step_count', 'architect:wikipedia', 'tower:type:de',
       'payment:cheque', 'old_name:-1945', 'xmas:feature',
       'tower:construction', 'unit', 'source_1', 'cabins', 'tents',
       'dedication', 'alt_name2', 'check_date:internet_access',
       'observatory:type', 'ref:AT:bda', 'name:az', 'name:eo', 'name:et',
       'name:id', 'name:is', 'name:tr', 'patron_saint', 'patron_saint:de',
       'patron_saint:wikidata', 'species:wikidata', 'species:wikipedia',
       'bridge:structure', 'abandoned:bunker_type', 'abandoned:military',
       'books:language:eo', 'outside', 'artist', 'start_date:location',
       'website:de', 'fountain', 'alt_name:en', 'townhall:type',
       'building:start_date', 'name:restaurant', 'castle_type:fr',
       'castle_type:it', 'is_in:theme_park', 'old_name:en',
       'breakfast:buffet', 'language:de', 'language:en'], dtype=object)

In [ ]:
osm_poi = reduced.loc[:, [ 'name', 'addr:street', 'amenity', 'leisure', 'shop', 'tourism', 'geometry']]
osm_poi.head()

                                       name   addr:street     amenity leisure  \
element_type osmid
node         29801740            McDonald's    Handelskai   fast_food     NaN
             46823888   Heidingers Gasthaus   Selzergasse  restaurant     NaN
             46823910    Pizzeria Ramazotti  Meiselstraße  restaurant     NaN
             46823914  Meiselmarkt Cafe-Pub  Meiselstraße        cafe     NaN
             46823918         Lucky Noodles           NaN   fast_food     NaN

                      shop tourism                   geometry
element_type osmid
node         29801740  NaN     NaN  POINT (16.39496 48.23346)
             46823888  NaN     NaN  POINT (16.32300 48.19823)
             46823910  NaN     NaN  POINT (16.32054 48.19748)
             46823914  NaN     NaN  POINT (16.32087 48.19746)
             46823918  NaN     NaN  POINT (16.32126 48.19753)

## Classify

Identify different classes in OSM data

### Gender

#### Gay locations

In [ ]:
g=[]
for j in reduced.columns.values:
  if ('gay' in j) | ('gay:men' in j) | ('gay:women' in j) | ('gay:transgender' in j) | ('fetish:leather' in j):
    v=reduced[j].str.contains('yes|primary|welcome|only', regex=True, na=False)
    g.append(v)
l=np.sum(g,axis=0)
print(l)
l.shape

[0 0 0 ... 0 0 0]

(15156,)

In [ ]:
osm_poi['lgbtq_friendly'] = l>=1
lgbtq_friendly=osm_poi[osm_poi['lgbtq_friendly']==True].loc[:,'name':'tourism']
print(lgbtq_friendly.shape)
osm_poi.head(2)

(20, 6)

                                      name  addr:street     amenity leisure  \
element_type osmid
node         29801740           McDonald's   Handelskai   fast_food     NaN
             46823888  Heidingers Gasthaus  Selzergasse  restaurant     NaN

                      shop tourism                   geometry  lgbtq_friendly
element_type osmid
node         29801740  NaN     NaN  POINT (16.39496 48.23346)           False
             46823888  NaN     NaN  POINT (16.32300 48.19823)           False

#### Male

In [ ]:
g=[]
for j in reduced.columns.values:
  if ('male' in j) | ('gay:men' in j) | ('unisex' in j):
    v=reduced[j].str.contains('yes|primary|welcome|only|male', regex=True, na=False)
    g.append(v)
v = [True if (i=='male') else False for i in reduced.access.values]
g.append(v)
v= [True if (i=='barber') else False for i in reduced.shop.values]
g.append(v)
m=np.sum(g,axis=0)
print(l)
m.shape

[0 0 0 ... 0 0 0]

(15156,)

In [ ]:
osm_poi['men_friendly'] = m>=1
men_friendly=osm_poi[osm_poi['men_friendly']==True].loc[:,'name':'tourism']
print(men_friendly.shape)
osm_poi.head(2)

(19, 6)

                                      name  addr:street     amenity leisure  \
element_type osmid
node         29801740           McDonald's   Handelskai   fast_food     NaN
             46823888  Heidingers Gasthaus  Selzergasse  restaurant     NaN

                      shop tourism                   geometry  lgbtq_friendly  \
element_type osmid
node         29801740  NaN     NaN  POINT (16.39496 48.23346)           False
             46823888  NaN     NaN  POINT (16.32300 48.19823)           False

                       men_friendly
element_type osmid
node         29801740         False
             46823888         False

#### Female

In [ ]:
g=[]
for j in reduced.columns.values:
  if ('women' in j) | ('gay:women' in j) | ('female' in j) | ('unisex' in j) :
    v=reduced[j].str.contains('yes|primary|welcome|only|female', regex=True, na=False)
    g.append(v)
v = [True if (i=='hairdresser') else False for i in reduced.shop.values]
b = [True if i=='female' else False for i in reduced.access.values]
g.append(v)
g.append(b)
f=np.sum(g,axis=0)
print(l)
f.shape

[0 0 0 ... 0 0 0]

(15156,)

In [ ]:
osm_poi['women_friendly'] = f>=1
women_friendly=osm_poi[osm_poi['women_friendly']==True].loc[:,'name':'tourism']
print(women_friendly.shape)
osm_poi.head(2)

(776, 6)

                                      name  addr:street     amenity leisure  \
element_type osmid
node         29801740           McDonald's   Handelskai   fast_food     NaN
             46823888  Heidingers Gasthaus  Selzergasse  restaurant     NaN

                      shop tourism                   geometry  lgbtq_friendly  \
element_type osmid
node         29801740  NaN     NaN  POINT (16.39496 48.23346)           False
             46823888  NaN     NaN  POINT (16.32300 48.19823)           False

                       men_friendly  women_friendly
element_type osmid
node         29801740         False           False
             46823888         False           False

### Ethnicity

In [ ]:
ethnicity = reduced.loc[:, ['name', 'description', 'cuisine','brand','amenity', 'leisure', 'shop']]
ethnicity.head()

                                       name description   cuisine       brand  \
element_type osmid
node         29801740            McDonald's         NaN    burger  McDonald's
             46823888   Heidingers Gasthaus         NaN  regional         NaN
             46823910    Pizzeria Ramazotti         NaN     pizza         NaN
             46823914  Meiselmarkt Cafe-Pub         NaN       NaN         NaN
             46823918         Lucky Noodles         NaN     asian         NaN

                          amenity leisure shop
element_type osmid
node         29801740   fast_food     NaN  NaN
             46823888  restaurant     NaN  NaN
             46823910  restaurant     NaN  NaN
             46823914        cafe     NaN  NaN
             46823918   fast_food     NaN  NaN

#### Afro_carribean

In [ ]:
african =['african','carribean']
e=[]
for j in reduced.columns.values:
  if ('afrika' in j) | ('Afrika' in j) | ('africa' in j) | ('africa' in j) | ('carribean' in j) | ('jamaica' in j) | ('couscous' in j):
    v = reduced[j].astype(str).str.contains('yes|only', case=False, regex=True, na=False) 
  else:
    v = reduced[j].astype(str).str.contains('africa|afrika|african|couscous|carribean|jollof|fried_rice|fufu|banku|waakye|afro|braids|nigeria|libya|ethiopia|jamaica|ghana|senegalese|maroc|calabash|egypt|amala', case=False, regex=True, na=False)
  e.append(v)
af=np.sum(e,axis=0)
print(l)
af.shape

[0 0 0 ... 0 0 0]

(15156,)

In [ ]:
osm_poi['afro_carribean'] = af>=1
afro_friendly=osm_poi[osm_poi['afro_carribean']==True].loc[:,'name':'tourism']
print(afro_friendly.shape)
osm_poi.head(2)
afro_friendly.head()

(25, 6)

                                               name        addr:street  \
element_type osmid
node         425488870                  Le Couscous  Bösendorferstraße
             1207358918         Jamaica Beach (FKK)                NaN
             1210670891                      Kamala      Hollandstraße
             1291414393                 Petit Maroc        Neubaugasse
             1668100065  Rachel's African Sensation          Ennsgasse

                            amenity leisure shop tourism
element_type osmid
node         425488870   restaurant     NaN  NaN     NaN
             1207358918  restaurant     NaN  NaN     NaN
             1210670891  restaurant     NaN  NaN     NaN
             1291414393  restaurant     NaN  NaN     NaN
             1668100065   fast_food     NaN  NaN     NaN

#### Asian

In [ ]:
asi=[]

for j in reduced.columns.values:
  if ('sushi' in j) | ('noodles' in j) | ('kimchi' in j) | ('oriental' in j):
    v = reduced[j].astype(str).str.contains('yes', case=False, regex=True, na=False) 
  else:
    v = reduced[j].astype(str).str.contains('asian|chinese|japanese|thai|sushi|vietnamese|korea|kimchi|dumplings|noodles|ramen', case=False, regex=True, na=False)
  asi.append(v)
asi=np.sum(asi,axis=0)
print(asi)
asi.shape

[0 0 0 ... 0 0 0]

(15156,)

In [ ]:
osm_poi['asian'] = asi>=1
asian_friendly=osm_poi[osm_poi['asian']==True].loc[:,'name':'tourism']
print(asian_friendly.shape)
osm_poi.head(2)

(534, 6)

                                      name  addr:street     amenity leisure  \
element_type osmid
node         29801740           McDonald's   Handelskai   fast_food     NaN
             46823888  Heidingers Gasthaus  Selzergasse  restaurant     NaN

                      shop tourism                   geometry  lgbtq_friendly  \
element_type osmid
node         29801740  NaN     NaN  POINT (16.39496 48.23346)           False
             46823888  NaN     NaN  POINT (16.32300 48.19823)           False

                       men_friendly  women_friendly  afro_carribean  asian
element_type osmid
node         29801740         False           False           False  False
             46823888         False           False           False  False

#### Middle_eastern

In [ ]:
me=[]

for j in reduced.columns.values:
  if ('halal' in j) | ('ramadan' in j) | ('persian' in j) | ('lebanese' in j):
    v = reduced[j].astype(str).str.contains('yes', case=False, regex=True, na=False)
  else:
    v = reduced[j].astype(str).str.contains('arab|halal|Qatar|dubai|saudi|hijab|ramadan|persian|iraq|afghan|lebanese|egypt|maroc|algeria|syria', case=False, regex=True, na=False)
  me.append(v)
me=np.sum(me,axis=0)
print(me)
me.shape

[0 0 0 ... 0 0 0]

(15156,)

In [ ]:
osm_poi['mid_east'] = me>=1
mid_east_friendly=osm_poi[osm_poi['mid_east']==True].loc[:,'name':'tourism']
print(mid_east_friendly.shape)
osm_poi.head(2)

(53, 6)

                                      name  addr:street     amenity leisure  \
element_type osmid
node         29801740           McDonald's   Handelskai   fast_food     NaN
             46823888  Heidingers Gasthaus  Selzergasse  restaurant     NaN

                      shop tourism                   geometry  lgbtq_friendly  \
element_type osmid
node         29801740  NaN     NaN  POINT (16.39496 48.23346)           False
             46823888  NaN     NaN  POINT (16.32300 48.19823)           False

                       men_friendly  women_friendly  afro_carribean  asian  \
element_type osmid
node         29801740         False           False           False  False
             46823888         False           False           False  False

                       mid_east
element_type osmid
node         29801740     False
             46823888     False

#### South Asian

In [ ]:
ind=[]

for j in reduced.columns.values:
  if ('india' in j) | ('curry' in j) | ('hindu' in j):
    v = reduced[j].astype(str).str.contains('yes', case=False, regex=True, na=False)
  else:
    v = reduced[j].astype(str).str.contains('indian|hindu|pakistan|sri lanka|kebab|curry', case=False, regex=True, na=False)
  ind.append(v)
ind=np.sum(ind,axis=0)
print(ind)
ind.shape

[0 0 0 ... 0 0 0]

(15156,)

In [ ]:
osm_poi['south_asian'] = ind>=1
south_asian_friendly=osm_poi[osm_poi['south_asian']==True].loc[:,'name':'tourism']
print(south_asian_friendly.shape)
osm_poi.head(2)

(253, 6)

                                      name  addr:street     amenity leisure  \
element_type osmid
node         29801740           McDonald's   Handelskai   fast_food     NaN
             46823888  Heidingers Gasthaus  Selzergasse  restaurant     NaN

                      shop tourism                   geometry  lgbtq_friendly  \
element_type osmid
node         29801740  NaN     NaN  POINT (16.39496 48.23346)           False
             46823888  NaN     NaN  POINT (16.32300 48.19823)           False

                       men_friendly  women_friendly  afro_carribean  asian  \
element_type osmid
node         29801740         False           False           False  False
             46823888         False           False           False  False

                       mid_east  south_asian
element_type osmid
node         29801740     False        False
             46823888     False        False

#### Latinx

In [ ]:
lat=[]

for j in reduced.columns.values:
  v = reduced[j].astype(str).str.contains('latino|mexican|ecuador|latin_american|south america|argentina|brazil|barbados|peru|taco|empanada|churro|bolivian|capixaba', case=False, regex=True, na=False)
  lat.append(v)
lat=np.sum(lat,axis=0)
print(lat)
lat.shape

[0 0 0 ... 0 0 0]

(15156,)

In [ ]:
osm_poi['latinx'] = lat>=1
latinx_friendly=osm_poi[osm_poi['latinx']==True].loc[:,'name':'tourism']
print(latinx_friendly.shape)
osm_poi.head(2)

(41, 6)

                                      name  addr:street     amenity leisure  \
element_type osmid
node         29801740           McDonald's   Handelskai   fast_food     NaN
             46823888  Heidingers Gasthaus  Selzergasse  restaurant     NaN

                      shop tourism                   geometry  lgbtq_friendly  \
element_type osmid
node         29801740  NaN     NaN  POINT (16.39496 48.23346)           False
             46823888  NaN     NaN  POINT (16.32300 48.19823)           False

                       men_friendly  women_friendly  afro_carribean  asian  \
element_type osmid
node         29801740         False           False           False  False
             46823888         False           False           False  False

                       mid_east  south_asian  latinx
element_type osmid
node         29801740     False        False   False
             46823888     False        False   False

### Age

#### kids

In [ ]:
g=[]
for j in reduced.columns.values:
  if ('kids' in j):
    v=reduced[j].str.contains('yes|primary|welcome|only|male', regex=True, na=False)
    g.append(v)
g.append(v)
l=np.sum(g,axis=0)
print(l)
l.shape

[0 0 0 ... 0 0 0]

(15156,)

In [ ]:
osm_poi['kid_friendly'] = l>=1
kid_friendly=osm_poi[osm_poi['kid_friendly']==True].loc[:,'name':'tourism']
print(kid_friendly.shape)
osm_poi.head(2)

(1, 6)

                                      name  addr:street     amenity leisure  \
element_type osmid
node         29801740           McDonald's   Handelskai   fast_food     NaN
             46823888  Heidingers Gasthaus  Selzergasse  restaurant     NaN

                      shop tourism                   geometry  lgbtq_friendly  \
element_type osmid
node         29801740  NaN     NaN  POINT (16.39496 48.23346)           False
             46823888  NaN     NaN  POINT (16.32300 48.19823)           False

                       men_friendly  women_friendly  afro_carribean  asian  \
element_type osmid
node         29801740         False           False           False  False
             46823888         False           False           False  False

                       mid_east  south_asian  latinx  kid_friendly
element_type osmid
node         29801740     False        False   False         False
             46823888     False        False   False         False

### Religion

#### Muslim_Friendly

In [ ]:
g=[]

for j in reduced.columns.values:
  if ('halal' in j):
    v= reduced[j].astype(str).str.contains('yes|only', case=False, regex=True, na=False)
  else:
    v = reduced[j].astype(str).str.contains('halal|islam|muslim|turk', case=False, regex=True, na=False)
  g.append(v)
ms=np.sum(g,axis=0)
print(ms)
ms.shape

[0 0 0 ... 0 0 0]

(15156,)

In [ ]:
osm_poi['muslim_friendly'] = ms>=1
muslim_friendly=osm_poi[osm_poi['muslim_friendly']==True].loc[:,'name':'tourism']
print(muslim_friendly.shape)
osm_poi.head(2)
muslim_friendly.head()

(107, 6)

                                              name           addr:street  \
element_type osmid
node         244496431                   うまみ Umami  Lerchenfelder Straße
             245495351                        Kent          Brunnengasse
             256669740            Café Erdgeschoss     Schottenfeldgasse
             295563589  Meksan Kebab und Grillhaus      Währinger Straße
             298347612                  Kebap-Haus         Faulmanngasse

                           amenity leisure shop tourism
element_type osmid
node         244496431  restaurant     NaN  NaN     NaN
             245495351  restaurant     NaN  NaN     NaN
             256669740        cafe     NaN  NaN     NaN
             295563589  restaurant     NaN  NaN     NaN
             298347612  restaurant     NaN  NaN     NaN

#### Jewish

In [ ]:
g=[]

for j in reduced.columns.values:
  if ('hummus' in j) | ('kosher' in j) | ('humus' in j):
    v= reduced[j].astype(str).str.contains('yes|only', case=False, regex=True, na=False)
  else:
    v = reduced[j].astype(str).str.contains('jewish|kosher|hummus|humus', case=False, regex=True, na=False)
  g.append(v)
jw=np.sum(g,axis=0)
jw.shape

(15156,)

In [ ]:
osm_poi['jewish'] = jw>=1
jewish_friendly=osm_poi[osm_poi['jewish']==True].loc[:,'name':'tourism']
print(jewish_friendly.shape)
osm_poi.head(2)
jewish_friendly.head()

(14, 6)

                                          name     addr:street     amenity  \
element_type osmid
node         478928080                  Miznon   Schulerstraße  restaurant
             1202223902              Alef Alef             NaN  restaurant
             1715947090  Novellino kosher food     Zirkusgasse  restaurant
             3961438009           Café Eskeles  Dorotheergasse        cafe
             6826725636             Marktbeisl  Schwendermarkt  restaurant

                        leisure shop tourism
element_type osmid
node         478928080      NaN  NaN     NaN
             1202223902     NaN  NaN     NaN
             1715947090     NaN  NaN     NaN
             3961438009     NaN  NaN     NaN
             6826725636     NaN  NaN     NaN

#### Buddhist_friendly

In [ ]:
g=[]
for j in reduced.columns.values:
  if ('vegan' in j) | ('vegetarian' in j) | ('lacto_vegetarian' in j):
    v= reduced[j].astype(str).str.contains('yes|only', case=False, regex=True, na=False)
  else:
    v = reduced[j].astype(str).str.contains('vegan|vegetarian', case=False, regex=True, na=False)
  g.append(v)
bd=np.sum(g,axis=0)
bd.shape

(15156,)

In [ ]:
osm_poi['buddhist'] = bd>=1
buddhist_friendly=osm_poi[osm_poi['buddhist']==True].loc[:,'name':'tourism']
print(buddhist_friendly.shape)
osm_poi.head(2)
buddhist_friendly.head()

(560, 6)

                                                name              addr:street  \
element_type osmid
node         60648368                      Phönixhof                      NaN
             76514684                     Pizza Bizi          Rotenturmstraße
             115212652                        Hitomi  Landstraßer Hauptstraße
             115513011                          Aida  Landstraßer Hauptstraße
             146317846  Kaffee-Konditorei Mayerhofer                      NaN

                           amenity leisure shop tourism
element_type osmid
node         60648368   restaurant     NaN  NaN     NaN
             76514684   restaurant     NaN  NaN     NaN
             115212652   fast_food     NaN  NaN     NaN
             115513011        cafe     NaN  NaN     NaN
             146317846        cafe     NaN  NaN     NaN

## Filter Data and Export Geojson

In [ ]:
recreational =osm_poi[(osm_poi['type']=='wine_dine') | (osm_poi['type']=='leisure')]
recreational = recreational.dropna(axis=1, how='all')
print(recreational.shape)
recreational.head()

(6801, 22)

                                       name   addr:street       type  \
element_type osmid
node         29801740            McDonald's    Handelskai  wine_dine
             46823888   Heidingers Gasthaus   Selzergasse  wine_dine
             46823910    Pizzeria Ramazotti  Meiselstraße  wine_dine
             46823914  Meiselmarkt Cafe-Pub  Meiselstraße  wine_dine
             46823918         Lucky Noodles           NaN  wine_dine

                          amenity leisure shop tourism   cuisine  \
element_type osmid
node         29801740   fast_food     NaN  NaN     NaN    burger
             46823888  restaurant     NaN  NaN     NaN  regional
             46823910  restaurant     NaN  NaN     NaN     pizza
             46823914        cafe     NaN  NaN     NaN       NaN
             46823918   fast_food     NaN  NaN     NaN     asian

                                        geometry  lgbtq_friendly  ...  \
element_type osmid                                                ...
node         29801740  POINT (16.39496 48.23346)           False  ...
             46823888  POINT (16.32300 48.19823)           False  ...
             46823910  POINT (16.32054 48.19748)           False  ...
             46823914  POINT (16.32087 48.19746)           False  ...
             46823918  POINT (16.32126 48.19753)           False  ...

                       afro_carribean  asian  mid_east  south_asian  latinx  \
element_type osmid
node         29801740           False  False     False        False   False
             46823888           False  False     False        False   False
             46823910           False  False     False        False   False
             46823914           False  False     False        False   False
             46823918           False   True     False        False   False

                       european  muslim_friendly  jewish  buddhist  wheelchair
element_type osmid
node         29801740      True             True   False     False       False
             46823888      True            False   False     False       False
             46823910      True             True   False     False       False
             46823914      True            False   False     False       False
             46823918     False            False   False     False       False

[5 rows x 22 columns]

In [ ]:
path = root + 'poi'
recreational.to_file(path, driver='GeoJSON')